.container {
  max-width: 768px;
  padding-top: 60px;
}

section {
  margin-bottom: 24px;
}

section h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.img-thumbnail {
  width: 300px;
  height: 300px;
  margin-right: 32px;
}

.information-name {
  font-size: 48px;
  margin-bottom: 4px;
}

.information-nickname {
  font-size: 24px;
}

.information-list li:not(:last-child) {
  margin-bottom: 8px;
}

.table-year {
  width: 200px;
}

i.bi {
  margin-right: 8px;
}
